# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# zksync
zkout/

# macOS
.DS_Store

opcode-research/

.zksolc-libraries-cache/
